.login-bg {
  min-height: 100vh;
  background-image: url('../../assets/images/background/loginBg.webp');
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.login-box {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}
.login-wrapper {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 50px 35px;
  border-radius: 25px;
  max-width: 50%;
  min-width: 50%;
}
.login-form__btn {
  background: #fbfbfb;
  font-size: 1.25rem;
  font-weight: 100;
  width: 100%;
  text-transform: uppercase;
}
.login-div {
  min-height: 450px;
}
.dashboard__navbar-brand img {
  height: 50px;
}
