.thankyou--box {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.thankyou--wrap {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.thankyou--wrap h1 {
  font-size: 3rem;
  font-family: Bower, Georgia, Times New Roman, serif;
  color: #142136;
  margin-bottom: 15px;
}
.thankyou--wrap p {
  font-size: 1.1rem;
  color: #000;
  font-weight: 100;
  margin-bottom: 10px;
}
