@font-face {
  font-family: 'Georgia';
  src: local('Georgia');
  font-weight: normal !important;
}
@font-face {
  font-family: 'Bower';
  src: local('Bower Bold'),
    url('./assets/font/Bower-Bold.woff2') format('woff2');
  font-display: block;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mitkat';
  src: local('Mitkat Regular'),
    url('./assets/font/Mitkat-Regular.woff2') format('woff2');
  font-display: block;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mitkat';
  src: local('Mitkat Medium'),
    url('./assets/font/Mitkat-Medium.woff2') format('woff2');
  font-display: block;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mitkat';
  src: local('Mitkat Medium-Italic'),
    url('./assets/font/Mitkat-MediumItalic.woff2') format('woff2');
  font-display: block;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Mitkat';
  src: local('Mitkat Light'),
    url('./assets/font/Mitkat-Light.woff2') format('woff2');
  font-display: block;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mitkat';
  src: local('Mitkat Light-Italic'),
    url('./assets/font/Mitkat-LightItalic.woff') format('woff');
  font-display: block;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: Mitkat, Helvetica Neue, Calibri, Corbel, Helvetica, Roboto, Droid,
    sans-serif !important;
  color: #333 !important;
  font-stretch: normal;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
  text-decoration: none !important;
  font-weight: 500;
  font-size: 1.115rem;
  line-height: 1.675rem;
}
.small,
small {
  font-size: 80% !important;
}
.width-80 {
  width: 80%;
}
.m-a {
  margin: auto;
}
.d-flex.center {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.height-auto {
  height: auto !important;
}
.text-gray {
  color: #757575 !important;
}
.text-light-100 {
  font-weight: 100;
}
.text-justify {
  text-align: justify !important;
}
.bg-gray {
  background-color: #f5f5f5;
}
.bg-darker {
  background-color: #142136 !important;
}
.bg-transparent {
  background-color: transparent;
}
video:focus {
  outline: none !important;
}
option:disabled {
  color: -internal-light-dark(graytext, rgba(170, 170, 170, 0.5));
}
select::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Black background with opacity */
  z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: transparent;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: transparent;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.hamburger {
  position: absolute;
  width: 30px;
  height: 23px;
  z-index: 999;
  margin: 0 10px;
  cursor: pointer;
  left: 15px;
}
.hamburger.nav-open span:first-child {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 10px;
}
.hamburger.nav-open span:nth-child(2) {
  left: 100px;
  opacity: 0;
}
.hamburger.nav-open span:last-child {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 10px;
}
.hamburger span {
  width: 100%;
  height: 3px;
  background: #142136;
  position: absolute;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger.nav-open span {
  background: #142136;
}

.hamburger span:first-child {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 10px;
  left: 0;
}
.hamburger span:last-child {
  top: 20px;
}
.navbar__brand > img {
  height: 50px;
}
.nav-link__horizontal:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav-link__horizontal:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -13px;
  left: 0;
  background-color: #abc142;
  visibility: hidden;
}
.closed {
  display: none !important;
}
.open {
  display: block !important;
  opacity: 1;
  width: 85%;
}
.dropdown-toggle::after {
  display: none !important;
}
.right-list {
}
.right-list li {
  border-right: 1px solid #888;
}
.right-list li:last-child {
  border-right: none;
}
.menu {
  width: 100%;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
  right: 100%;
  background: #142136;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;

  padding-left: 60px;
  padding-top: 3rem;
  overflow-y: scroll;
}

.menu.nav-open {
  right: 0;
  z-index: 9999;
}

.hamburger.nav-open body {
  overflow-y: hidden !important;
}
.menu > li {
  position: relative;
  list-style: none;
  padding: 18px 15px;
  vertical-align: text-top;
  padding-left: 0;
}

.menu > li.menu_header {
  padding: 0px;
}

.menu > li.menu_header > a {
  font-size: 1.5rem;
}

.menu > li > a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.2;
}
.menu > li > a.active {
  color: #03a9f4;
}
.menu > li > a.active::after {
  opacity: 1;
}
/* .menu > li.has-submenu > a::after  {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    right: 0;
    position: absolute;
    top: 23px;
}  */

.menu > li.has-submenu.menu_header > a::after {
  top: 0;
}
.has-submenu {
  display: inline-block;
  width: 33.33% !important;
  font-weight: 100 !important;
}

.sub-menu {
  position: fixed;
  top: 65px;
  right: 0;
  width: 100%;
  height: calc(100vh - 65px);
  background: #eee;
  overflow: auto;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding-top: 3rem;
  padding-left: 3rem;
}
.sub-menu.active {
  opacity: 1;
  z-index: 999;
}
.sub-menu li {
  list-style: none;
  padding: 10px 0;
  cursor: default;
  /* border-bottom: 1px solid #b1b1b1; */
}

.sub-menu li:last-child {
  border-bottom: none !important;
}

.sub-menu li a {
  text-decoration: none;
  color: #444;
  font-weight: 100;
  font-size: 1.05rem;
  display: block;
  padding: 0.5rem 0;
}
.sub-menu li a:hover {
  color: 757575;
}
.sub-menu .title {
  font-size: 2rem;
  font-family: Bower, Georgia, Times New Roman, serif;
  color: #142136;
  font-weight: 400;
  border-bottom: 1px solid #b1b1b1;
  padding-bottom: 15px;
}
.sub-title-header {
  text-transform: uppercase;
  font-size: 1.125rem !important;
  line-height: 1.657;
  font-weight: 400 !important;
}
.sub-menu .links {
  display: flex;
}
.sub-title .sub-title-header .sub-title .sub-title-header {
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #000;
  font-weight: 100;
  padding: 0;
}

.dashboard__link {
  font-size: 1.25rem;
  font-weight: 100;
  color: #142136;
}
.dashboard__link.active {
  color: #8bc34a;
}
@media screen and (max-width: 600px) {
  .menu > li {
    padding: 18px 15px;
    width: 85%;
  }

  .horizontal-menu {
    display: none;
  }
  .sub-menu .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .menu > li.has-submenu > a::after {
    right: 0;
  }
  .sub-menu {
    width: 100%;
  }
  .back-to-menu {
    display: block;
  }
  .sub-menu .links li {
    border-right: none !important;
  }
}
.sub-menu .links li {
  padding: 5px 15px;
  border: none;
  border-right: 1px solid #ccc;
  background: transparent;
}
/*.sub-menu .links li:last-child { border-right: none; }*/
.sub-menu .links li a {
  text-decoration: none;
  color: #000;
  font-weight: 100;
  font-size: 1.05rem;
}
.sub-menu .links li a:hover {
  color: #333;
}

.nav-link {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300 !important;
  color: #051c2c;
  position: relative;
  text-transform: capitalize;
  text-align: right;
  text-decoration: none;
  padding: 0.5rem 1rem !important;
}

.dropdown-menu {
  right: -25px !important;
  left: auto !important;
  background-color: #142136 !important;
}
.dropdown-item {
  font-weight: 100 !important;
  color: #ffffff !important;
  font-size: 1rem !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b !important;
  background-color: #f8f9fa;
}
.navbar__link-active {
  font-weight: 500;
  color: #abc142 !important;
}
.main-header {
  min-height: 90vh;
  background-image: url('../src/assets/images/background/Framemockup.png');
  background-position: right;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}

.main-header__row {
  min-height: 90vh;
}
.main-header__row,
.section__row {
  --bs-gutter-x: 2rem !important;
}
.main-header__header-font,
.section__header-font,
.service-description__header {
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 3.25rem;
  line-height: 1.2;
  font-weight: 500;
  color: #142136;
  position: relative;
  letter-spacing: 0.099rem;
}
.main-header__header-font {
  font-size: 2rem;
}
.content__header {
  font-family: mitkat, Helvetica Neue, Calibri, Corbel, Helvetica, Roboto, Droid,
    sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.75rem !important;
  letter-spacing: 0.075em !important;
  text-transform: uppercase !important;
  line-height: 1.75rem;
}

.main-header__sub-header,
.section__sub-header,
.content__subheader {
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.657;
  margin-bottom: 20px;
}
.main-header__sub-header {
  font-size: 1rem !important;
  line-height: 1.5 !important;
}
.main-header__link {
  position: relative;
  font-size: 1rem !important;
  cursor: pointer;
  line-height: 1.4;
  font-weight: 500;
  transition: transform 0.8s;
  color: #000;
  text-decoration: none;
}
.main-header__link__arrow {
  transition: transform 0.8s;
}
.main-header__link:hover .main-header__link__arrow,
.main-header__btn:hover .main-header__link__arrow {
  transform: translateX(20px);
}
.main-header__btn {
  color: #fff;
  background: #82971d;
  padding: 7px 30px;
  border-radius: 2px;
  font-size: 1rem !important;
  cursor: pointer;
  line-height: 1.4;
  font-weight: 500;
}
.main-header__btn:hover {
  color: #fff;
  background: #5f6e11;
}
.main-header__content {
  width: 80%;
  margin-top: auto;
}
.section__content {
  width: 80%;
  margin: auto;
}
.section__img {
  width: 100%;
}

.figures__number {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  font-family: Bower, Georgia, Times New Roman, serif !important;
  margin-bottom: 10px;
  color: #142136;
}

.figures__title {
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  opacity: 0.8;
  color: #ccc;
}

.platform-card__img {
  width: 100%;
  margin: auto;
}
.platform-card__content {
  min-height: 320px;
  display: block;
  background: white;
}
.platform-card__content > p {
  font-size: 1.7rem;
  padding: 1.15rem 0;
  text-transform: capitalize;
  font-weight: 500;
  color: #142136;
  letter-spacing: 0.05rem;
}
.platform-card__btn {
  color: #ffffff !important;
  font-size: 1.125rem;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-weight: 100;
  background: #142136;
}

.platform-card__btn:hover {
  color: #142136 !important;
  background: #ffffff;
  outline: 1px solid #142136;
  border-radius: 5px;
}

.parallax {
  /* The image used */
  background-image: url('../src/assets/images/background/bg-for-service.jpg') !important;

  /* Set a specific height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-box {
  float: left;
  overflow: hidden;
  padding: 10px;
}
.service-box__card > h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.service-box__card > p {
  font-size: 1.25rem;
  font-weight: 100;
}
.service-box__card {
  background-color: rgb(0 0 0 / 0%);
  border-radius: 3px;
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid rgb(255 255 255 / 0.5);
  min-height: 425px;
}
.service-box__card:hover {
  background-color: rgb(20 33 54 / 0.5);
  border: 1px solid transparent;
  cursor: pointer;
}
.service-box__img {
  width: auto;
  height: 70px;
  margin-bottom: 1.5rem;
}

.testimonials {
  min-height: 400px;
}
.testimonials__img__span > img {
  width: 85%;
  margin: auto;
}

.testimonials__quote {
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: 25px;
  width: 100%;
  text-align: left;
}
.carousel-indicators li {
  width: 5px !important;
  height: 5px !important;
  background-color: #bdbdbd !important;
  margin: 0px 5px !important;
}
.carousel-indicators {
  bottom: -55px !important;
}

.block-box {
  /*background: rgb(0 0 0 / 0.2);*/
  padding: 1rem;
  background-color: #fff;
  /*margin-bottom: 3rem;*/
  cursor: pointer;
}
.block-box.p-0 {
  min-height: 455px;
  margin-bottom: 3rem;
}
.block-box:hover {
  -webkit-box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  -moz-box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
}
.block-box > * {
  align-self: start;
  color: #142136;
  z-index: 3;
  position: relative;
  transition: color ease 0.35s;
  text-align: left;
  margin-bottom: 11px;
}
.block-box > h5 {
  font-size: 1.5rem;
  color: #000000 !important;
  font-weight: 500;
}
.block-box__img {
  width: 100%;
  height: 210px;
  transition: transform 0.5s ease;
}
.block-box__img.service-offering__img,
.block-box__img.product__img {
  height: 200px;
}
.block-box__img-partners {
  height: auto;
  width: 100%;
}
.block-box:hover .block-box_img {
  transform: scale(1.025);
}

.process-box__header {
  font-size: 1.5rem;
  color: #fff !important;

  font-weight: 500;
}
.block-box__title {
  font-size: 1.5rem;
  color: #000000 !important;

  font-weight: 500;
}
.block-box__title:hover {
  cursor: pointer;
  color: #abc142 !important;
  text-decoration: none;
}
.block-box__description,
.block-box__by,
.process-box__description {
  padding-top: 15px;
  width: 100%;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.657 !important;
}
.show-service-btn {
  background: #142136 !important;
  border: #142136;
  font-size: 1.25rem !important;
  font-weight: 100 !important;
  border: none !important;
  border-radius: 2px;
  padding: 0.5rem 5rem;
  margin: auto;
}
.process-box > img {
  margin-left: auto;
  width: 80%;
  height: auto;
}

.alice-carousel {
  padding-top: 65px;
}

.alice-carousel__stage-item {
  padding: 0 10px !important;
}
.alice-carousel__dots-item:hover,
.alice-carousel__dots-item.__active {
  background-color: #142136 !important;
}
.alice-carousel__dots-item {
  display: inline-block;
  width: 7px;
  height: 7px;
  cursor: pointer;
  border-radius: 0;
  background-color: #d0d3d7;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
  position: absolute;
  top: 0;
}
.alice-carousel__prev-btn {
  left: 0;
}
.alice-carousel__next-btn {
  right: 0;
}
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  color: #142136 !important;
  font-size: 22px;
}
.alice-carousel__dots {
  display: none;
}
/* No Page */
#noPage {
  min-height: 67.5vh;
}
/* About page */
.video-box__title {
  font-size: 1.5rem;
}
.video-box__subtitle {
  font-size: 1.15rem;
  opacity: 0.7;
  font-weight: 100;
}
.card {
  border: none !important;
}

.team-card {
  overflow: hidden;
  border: none;
  border-radius: 0.25rem;
  min-height: 360px;
  background-color: #ddd !important;
}
.team-card:hover {
  -webkit-box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  -moz-box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  cursor: pointer;
}
.team-card__block {
  font-size: 1.5rem;
  position: relative;
  margin: 0;
  padding: 1.15rem;
  border: none;
  box-shadow: none;
  text-align: left;
}
.team-card__block > p {
  font-size: 1.125rem;
  font-weight: 100;
  text-align: left;
  color: #000;
}

.team-card__block > em {
  font-size: 1.125rem;
  font-weight: 100;
  text-align: center;
  color: #000;
}
.team-card__img {
  display: block;
  width: 100% !important;
  height: 200px;
  background-color: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 auto;
}

.btn-primary {
  color: #fff;
  background-color: #142136 !important;
  border-color: #142136 !important;
}
.team-card__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.67rem;
  color: #000;
}

.about__designation {
  font-size: 1.75rem !important;
  font-weight: 500 !important;
  line-height: 1.657;
  margin-bottom: 20px;
}
.leader-addition {
  font-size: 1.85rem !important;
}
.leader-quote {
  font-size: 1.25rem;
  line-height: 1.672rem;
}
.leader-quote img {
  margin-top: -20px;
  margin-right: 10px;
}
.badge {
  display: inline-block;
  padding: 0.5rem 0.65rem !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 21px !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0 5px;
}
.badge-dark {
  color: #fff;
  background-color: #142136;
}
ul li {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.657;
}
/* Service Page */
.service-description {
  margin-top: -165px;
  background: #fff;
  padding: 3rem;
  text-align: center !important;
}

.honeycomb {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  -webkit-transform: translateY(34.375px);
  transform: translateY(34.375px);
}
.honeycomb-cell {
  -webkit-box-flex: 0;
  flex: 0 1 220px;
  max-width: 220px;
  height: 117.5px;
  margin: 61px 1px 0px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
}
.honeycomb-cell__title {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  text-transform: initial;
  color: #fff;
  font-weight: 400;
  font-size: 1.05rem;
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}
.honeycomb-cell__title > small {
  font-weight: 300;
  margin-top: 0.25em;
}
.honeycomb-cell__title > img {
  height: 75px;
}
.honeycomb-cell__image {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.honeycomb-cell::before,
.honeycomb-cell::after {
  content: '';
}
.honeycomb-cell__image {
  width: 50% !important;
  margin: auto;
  height: auto !important;
  top: 0 !important;
  left: 25% !important;
  clip-path: none !important;
}
.honeycomb-cell__image.with-text {
  width: 30% !important;
  margin: auto;
  height: auto !important;
  top: -27px !important;
  left: 36% !important;
  clip-path: none !important;
  z-index: 1 !important;
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #fff;
  -webkit-transform: scale(1.055);
  transform: scale(1.055);
}
.honeycomb-cell:nth-child(odd)::after {
  background: #ccc;
  opacity: 0.2;
}

.honeycomb-cell:nth-child(even)::after {
  background: #142136;
}

.honeycomb-cell:nth-child(odd) > .honeycomb-cell__title {
  color: #142136 !important;
}
.honeycomb-cell:nth-child(even) > .honeycomb-cell__title {
  color: #fff !important;
}
.honeycomb__placeholder {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}
.circle {
  font-weight: bold;
  padding: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #fff;
  min-height: 85px;
  z-index: 2;
  border: 2px solid #cccccc;
}

.circle img {
  height: 55px;
}
.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-it-works h5 {
  font-size: 1.5rem;
}
.how-it-works p {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.657;
}
.how-it-works.row .col-2::after {
  content: '';
  position: absolute;
  border-left: 2px solid #ccc;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 2px solid #ccc;
  margin: 0;
  top: 17px;
  position: relative;
  opacity: 1;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 2px solid #ccc;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -51%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -51%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/* Contact Us */

.contact-form__input {
  min-height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem;
  font-size: 1.15rem !important;
  font-weight: 100 !important;
  line-height: 1.675rem !important;
  color: #444 !important;
}
.contact-form__btn {
  background: #abc142 !important;
  color: #fff !important;
  font-size: 1.25rem !important;
  font-weight: 100 !important;
}
.contact-form__btnClose {
  background: #eee !important;
  color: #444 !important;
  font-size: 1.25rem !important;
  font-weight: 100 !important;
}
#nav-tabContent-location {
  padding: 13px;
}
.tab-content {
  max-height: 450px;
  overflow-x: hidden;
}
.tab-content:hover {
  overflow-y: scroll;
  cursor: pointer;
}
.tab-content::-webkit-scrollbar {
  width: 4px;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: #566784;
  border-radius: 5px;
}
.tab-content::-webkit-scrollbar {
  width: 0;
}

.tab-content::-webkit-scrollbar-track {
  background: transparent;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: '#ccc';
  border-radius: 5px;
}

.nav-tabs-location {
  background: #142136;
}
.nav-tabs-location > .nav-item {
  background: #142136;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  flex: none !important;
}

.nav-tabs-location > .nav-item.active {
  background-color: #abc142 !important;
  font-weight: 500 !important;
}
.location-address strong {
  font-size: 1.25rem;
  line-height: 1.67;
  font-weight: 100;
  letter-spacing: 1px;
}

.location-address p {
  font-size: 1.125rem;
  color: #e6e6e6;
}
.location-address img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.85;
}
.export-link {
  color: #abc142;
  cursor: pointer;
}
.advisory-Box {
  background-position: top center !important;
  background-size: cover !important;
  width: 100%;
  min-height: 200px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.advisory-header {
  padding: 0 15px;
  background: rgba(20, 33, 54, 0.75);
  width: 100%;
}
.advisory-header p {
  color: #eee;
  padding-top: 5px;
  margin: 5px 0;
}
.advisory-header .small {
}
.advisory-footer {
  margin-bottom: 10px;
}
.advisory-footer .btn-view {
  background: transparent;
  border: 1px solid #eee;
  color: #eee;
  font-weight: 100;
  font-size: 13px;
  padding: 5px 7px;
  cursor: pointer;
}

.blog-Box {
  background-position: top center !important;
  background-size: cover !important;
  width: 100%;
  /* min-height: 300px; */
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid #bbb;
}

.blog-Box:last-child {
  border-bottom: none;
}
.blog-float {
  text-align: center;
  position: absolute;
  top: 0.5px;
  left: 15px;
  background: #abc142;
  min-width: 50px;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 10px;
  color: #fff;
  text-transform: uppercase;
}
.blog-float span {
  font-size: 20px;
  line-height: 18px;
  display: block;
}
.blog-img {
  flex: 50%;
  background-position: top center !important;
  background-size: contain !important;
  width: 100%;
  min-height: 350px;
  align-self: flex-start;
  background-repeat: no-repeat !important;
}

.blog-header {
  /* padding: 0 15px; */
  /* background: rgba(20, 33, 54, 0.75); */
  flex: 50%;
  width: 100%;
  min-height: 100px;
}
.blog-header .blog-title {
  color: #313131;
  padding-top: 5px;
  margin: 5px 0;
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 2.25rem;
}
.blog-summary {
  padding-top: 15px;
  width: 100%;
  color: #000000;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.657 !important;
}
.blog-header p {
  font-size: 1.25rem;
  font-weight: 100;
}
.blog-footer {
  flex: 100%;
  text-align: right;
}
.blog-footer p {
  margin-bottom: 10px;
  color: #313131;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.025rem;
  text-align: right;
}
.blog-footer .btn-view {
  background: #94a92e;
  border: 1px solid #a1b739;
  color: #ffffff;
  font-weight: 100;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

/* Podcast */
.podcast-box {
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 455px;
}
.podcast-box:hover {
  overflow-y: scroll;
  cursor: pointer;
}
.podcast-box:hover::-webkit-scrollbar {
  width: 4px;
}

.podcast-box:hover::-webkit-scrollbar-thumb {
  background-color: #142136;
  border-radius: 5px;
}
.podcast-box::-webkit-scrollbar {
  width: 0;
}
.podcast-box::-webkit-scrollbar-track {
  background: #999;
}

.podcast-box::-webkit-scrollbar-thumb {
  background-color: #142136;
  border-radius: 5px;
}
.podcast-list {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.podcast-list:last-child {
  border-bottom: none;
}
.podcast-title {
  font-size: 1.125rem;
  color: #000000 !important;
  font-weight: 500;
}
.podcast-title:hover {
  color: #abc142 !important;
}
.podcast-date {
  width: 100%;
  color: #505050;
  font-size: 0.85rem;
  font-weight: 100;
  line-height: 1.657 !important;
}
/* Upcoming events */
.upcoming-events {
  position: relative;
  min-height: 90vh;
}
.upcoming-events-box {
  min-height: 69vh;
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 50%);
}
.upcoming-events-img {
  flex: 30% 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover !important;
}
.upcoming-events-img .big-date {
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 5.25rem;
  line-height: 4.12rem;
  margin-bottom: 0;
}

.upcoming-events-img .small {
  font-size: 1.5rem !important;
  letter-spacing: 0.125rem;
}
.upcoming-events-summary {
  flex: 70%;
  align-self: center;
  white-space: pre-line;
}
.upcoming-events-summary h5 {
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 3.25rem;
}
.upcoming-events-summary div {
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.657;
  margin-bottom: 20px;
}
.upcoming-events > .row > div > .alice-carousel > .alice-carousel__dots {
  display: block !important;
}
.upcoming-events > .row > div > .alice-carousel {
  padding-top: 0;
}
.upcoming-events > .row > div > .alice-carousel > .alice-carousel__prev-btn,
.upcoming-events > .row > div > .alice-carousel > .alice-carousel__next-btn {
  display: none;
}
/* Recent News */
.float-btn-news {
  font-size: 55px;
  color: #abc142 !important;
  position: absolute;
  top: 0;
}
.recentnews-Box {
  background-position: top center !important;
  background-size: cover !important;
  width: 100%;
  /* min-height: 300px; */
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid #bbb;
}

.recentnews-Box:last-child {
  border-bottom: none;
}

.recentnews-img {
  flex: 35%;
  background-position: top center !important;
  background-size: cover !important;
  width: 100%;
  min-height: 300px;
}
.recentnews-img img {
  width: 100%;
}
.recentnews-header {
  /* padding: 0 15px; */
  /* background: rgba(20, 33, 54, 0.75); */
  flex: 65%;
  width: 100%;
  min-height: 100px;
  margin: auto;
}
.recentnews-header .recentnews-title {
  color: #313131;
  padding-top: 5px;
  margin: 5px 0;
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 2.25rem;
  line-height: 1.5;
}
.recentnews-header p {
  font-size: 1.25rem;
  font-weight: 100;
}
.recentnews-date {
  font-size: 85% !important;
  color: #333;
}
/* Footer */
.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -25px;
}
.social-links li {
  position: relative;
  text-align: center;
  font-size: 18px;
}
.social-links > * {
  margin-left: 25px;
}
.social-links li a {
  color: #818a91;
  transition: all ease 0.35s;
  padding: 5px 10px;
  display: inline-block;
  width: 40px;
}
.social-links li a:hover {
  background: rgb(255 255 255 / 0.2);
  border-radius: 50px;
}
footer {
  font-size: 1.15rem;
  font-weight: 100;
  color: #b9b9b9;
}
footer .iso-certification img {
  height: 50px;
}
footer p {
  font-size: 1rem;
  margin: 0;
  text-transform: capitalize;
  color: #b9b9b9;
}
.floating-btn {
  position: fixed;
  width: 115px;
  background-color: #abc142;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 0;
  top: 50%;
  color: #fff;
  padding: 2px 15px;
  z-index: 9999;
  cursor: pointer;
}

.covid-float {
  top: 30%;
  width: 50px;
}
.blinking {
  animation: blinkingText 5s infinite;
}

@keyframes blinkingText {
  0% {
    background-color: #abc142;
  }
  25% {
    background-color: #81961d;
  }
  50% {
    background-color: #abc142;
  }
  75% {
    background-color: #81961d;
  }
  100% {
    background-color: #abc142;
  }
}
.floating-btn__link,
.floating-btn__link:hover {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
  cursor: pointer;
}
/* modal */
.modal-content {
  background-color: #142136 !important;
}
.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.7);
}
.modal-header {
  border-bottom: none !important;
}
.modal-header .close {
  color: #fff !important;
}
.modal-title {
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.099rem;
}
.form-group > label {
  font-weight: 100;
  margin-bottom: 5px;
}
textarea {
  resize: vertical;
  height: 100px !important;
}
textarea.contact-form__input {
  resize: vertical;
  height: auto !important;
}
.countryInput {
  max-width: 75px;
}

/* Media Query */
/* Mobile view only */
@media (max-width: 600px) {
  .main-header {
    min-height: 110vh;
    background-position: bottom;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
  }
  .main-header__header-font,
  .section__header-font,
  .service-description__header {
    font-size: 1.45rem !important;
  }
  .main-header__sub-header {
    font-size: 0.75rem !important;
    line-height: 1.5 !important;
  }
  .main-header__content {
    margin-top: 0;
  }
  .section__row {
    margin-bottom: 50px;
  }
  .section__row > .bg-gray {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .process-box > img {
    margin: auto;
    width: 30%;
    height: auto;
  }
  .locationIframe {
    width: 100%;
  }
  .display-small {
    display: block;
  }
  .display-big {
    display: none;
  }
  .honeycomb-cell {
    margin: 50.25px 5px;
  }
  .honeycomb-cell__title > img {
    height: 45px;
  }
  .order-011 {
    order: 1;
  }
  .honeycomb-cell__title {
    font-weight: 100;
    font-size: 0.75rem;
  }
  .honeycomb-cell {
    -webkit-box-flex: 0;
    flex: 0 1 220px;
    max-width: 160px;
    height: 85.5px;
    margin: 91px 1px 0px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
  }
  .social-links {
    padding: 30px 0;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar__brand {
    margin-left: 60px;
  }
  .figures {
    margin-bottom: 30px;
  }
  .platform-box {
    min-height: 500px;
  }
  .has-submenu {
    display: inline-block;
    width: 100% !important;
    font-weight: 100 !important;
    padding: 10px 0px !important;
  }
  .service-description {
    margin-top: -30px;
    background: #fff;
    padding: 3rem;
    text-align: center !important;
  }

  .block-box__img.product__img {
    height: 155px;
  }
  /* Top Events */
  .topEvents {
    display: none;
  }
  .upcoming-events-box {
    flex-direction: column;
    padding: 1rem !important;
  }
  .upcoming-events-img {
    flex: 100% 1;
    min-height: 250px;
  }
  .upcoming-events-summary h5 {
    font-size: 2.25rem;
  }

  .upcoming-events-img .small {
    font-size: 1.5rem !important;
    letter-spacing: 0.125rem;
  }
  .upcoming-events-summary {
    flex: 100%;
    padding: 1rem !important;
  }
  .blog-img {
    flex: 100%;
    min-height: 240px;
  }
  .blog-header .blog-title {
    font-size: 1.55rem;
  }
  .blog-summary {
    font-size: 1rem;
  }
  .blog-header p {
    font-size: 1rem;
  }
}
@media (min-width: 550px) and (max-width: 825px) {
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb__placeholder:nth-child(3n + 5) {
    display: block;
  }
}
@media (min-width: 825px) and (max-width: 1100px) {
  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - 275px);
  }

  .honeycomb__placeholder:nth-child(5n),
  .honeycomb__placeholder:nth-child(5n + 3) {
    display: block;
  }
}
@media (min-width: 1100px) {
  .display-small {
    display: none;
  }
  .display-big {
    display: block;
  }
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7),
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - 400px);
  }

  .honeycomb__placeholder:nth-child(7n + 7),
  .honeycomb__placeholder:nth-child(7n + 9),
  .honeycomb__placeholder:nth-child(7n + 11) {
    display: block;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #142136;
  opacity: 0.7;
  z-index: 1;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;

  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 65vh;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1700px;
  }
  .block-box__img {
    height: 300px;
  }
  .block-box__img.product__img,
  .block-box__img.service-offering__img {
    height: 290px;
  }
  .team-card__img {
    height: 323px;
  }
  .locationIframe {
    width: 100%;
  }
  .hamburger {
    left: 35px;
  }
}
/* Career Page */
.job-list li {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
  border-bottom: 1px solid #b3b3b3;
}

.job-list li a {
  color: #333;
  display: block;
  padding: 15px;
}
.job-list li a:hover {
  -webkit-box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  -moz-box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  box-shadow: 5px 7px 25px -4px rgb(158 158 158 / 0.5);
  cursor: pointer;
}

.job-list li:last-child {
  border-bottom: none;
}
.job-list li a .job-category {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9e9e9e;
  font-weight: 100;
}
.job-list li a .job-title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-bottom: 6px;
  font-family: Bower, Georgia, Times New Roman, serif;
}
.job-list li a .job-summary {
  margin-top: 4px;
  padding-bottom: 32px;
  font-size: 1.125rem;
  word-wrap: break-word;
  max-width: 100%;
  margin: 0.5rem 0 0;
  padding: 0;
  font-weight: 100;
  line-height: 1.657;
  color: #000;
}
.job-location-list {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #757575;
}
.job-location-list ul {
  padding-left: 9px;
  margin-right: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}
.job-location-list ul li {
  display: list-item;
  color: #757575;
}
.job-location-list ul li:not(:last-of-type):after {
  content: '|';
  margin: 0 8px;
}
.job-location-list .svg-inline--fa {
  float: left;
  color: #a9bf40;
}
.pre-line {
  white-space: pre-line;
}
/* Annimation for events */
.topEvents {
  background: rgba(20, 33, 54, 1);
  max-height: 60px;
  padding: 10px;
}
.topEvents p.rw-header-btn {
  color: #acc243;
  font-size: 1rem;
  font-weight: 100;
  text-transform: capitalize;
  position: absolute;
  width: 46px;
  background-color: #142136;
  transform-origin: 0 0;
  top: 11px;
  bottom: 75px;
  padding: 6px 15px;
  z-index: 9999;
  cursor: pointer;
  text-align: center;
  height: 37px;
  right: 7px;
  margin: 0;
}
.topEvents ul {
}
.topEvents ul li {
  list-style: none;
  color: #f2f2f2;
  padding: 0 20px;
  border-right: 1px solid #eee;
  display: inline-block;
}
.topEvents ul li b {
  margin: 0 5px;
  border-radius: 128px;
}
.visibleBox {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}
.hiddenBox {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
.rw-wrapper {
  width: 95%;
  position: relative;
  margin: 0px auto 0 auto;
  padding: 100px;
}
.rw-words span img {
  position: absolute;
  width: 60px;
  bottom: 0;
  right: 0;
  opacity: 0.25;
}
.rw-sentence {
  margin: 0;
  text-align: left;
}
.rw-sentence span {
  color: #fff;
  font-weight: normal;
}
.rw-words {
  display: inline;
}
.rw-words span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 95%;
  color: #fff;
  font-size: 1rem;
  left: 5px;
  top: 10px;
}
.rw-words span .country-name {
  color: #a9be40;
}
.rw-words span p b {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 3px;
}
.rw-words-1 span {
  animation: rotateWordsFirst 40s linear infinite 0s;
}

.rw-words span:nth-child(2) {
  animation-delay: 4s;
}
.rw-words span:nth-child(3) {
  animation-delay: 8s;
}
.rw-words span:nth-child(4) {
  animation-delay: 12s;
}
.rw-words span:nth-child(5) {
  animation-delay: 16s;
}
.rw-words span:nth-child(6) {
  animation-delay: 20s;
}
.rw-words span:nth-child(7) {
  animation-delay: 24s;
}
.rw-words span:nth-child(8) {
  animation-delay: 28s;
}
.rw-words span:nth-child(9) {
  animation-delay: 32s;
}
.rw-words span:nth-child(10) {
  animation-delay: 36s;
}

@keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 125px;
  }
  12% {
    opacity: 0;
    height: 125px;
  }
  25% {
    opacity: 0;
    height: 125px;
  }
  100% {
    opacity: 0;
  }
}

/* TEMP */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  max-height: 70vh;
  overflow-y: scroll;
}

.policy--wrap h4 {
  font-family: Bower, Georgia, Times New Roman, serif;
  font-size: 3rem !important;
  line-height: 1.2;
  font-weight: 500;
  color: #142136;
  position: relative;
  letter-spacing: 0.099rem;
}

.policy--wrap p {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.657 !important;
}

.policy--wrap strong {
  position: relative;
  font-size: 1.5rem;
  color: #000000 !important;
  font-weight: 500;
}
